* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "inter", sans-serif;
}

.row > * {
  padding: 0 !important;
}

.hero-div {
  background-image: url("images/Header-llustration-desktop.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.section-1 {
  padding: 15% 30%;
}

/* About Section */
